
html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --orange: #f3603c; 
    --darkBlue: #242d52;
    --blackBlue: #1d1e25;
    --lightOrange: #fff0ec;
}
body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3 {
    font-weight: 700;
    font-family: 'Be Vietnam', sans-serif;
    color: var(--darkBlue);
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
p {
    opacity: 0.5;
}
.btn {
    border: none;
    outline: none;
    background-color: var(--orange);
    padding: 1em 2em;
    border-radius: 25px;
    color: var(--lightOrange);
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 20px 16px -16px var(--orange);
}
.btn:hover {
    opacity: 0.7;
}

/* nav styling */
.container {
    padding: 0 1em 1em 1em;
    overflow: hidden;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}
.logo {
    cursor: pointer;
}
.nav-link {
    display: flex;
    padding: 0;
}
.nav-link li {
    padding: 0 1em;
}
.nav-link li a {
    color: var(--darkBlue);
    font-weight: 700;
}
.nav-link li a:hover {
    opacity: 0.6;
}
.hamburger {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    display: none;
    margin-bottom: 8px;
}
.ham-one,
.ham-two,
.ham-three {
    width: 100%;
    height: 3px;
    background-color: var(--darkBlue);
    position: absolute;
    margin: 6px 6px 6px 0;
}
.ham-three {
    margin-bottom: 3px;
}
.ham-one.show {
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0)); 
}
.ham-two.show {
    transition: .5s ease;
    transform: rotate(-45deg);
    margin: 0;
}
.ham-three.show {
    transition: .5s ease;
    transform: rotate(90deg);
    margin: 0;
}

/* header styling */

.contain::before {
    content: '';
    position: absolute;
    background: url(./images/bg-tablet-pattern.svg);
    background-repeat:  no-repeat;
    background-position: left bottom;
    background-size: 450px;
    width: 318px;
    height: 350px;
    top: -11px;
    right: 0;
    z-index: -1;
  }
  main::before {
      content: "";
      position: absolute;
      background: url(./images/bg-tablet-pattern.svg);
      background-repeat: no-repeat;
      background-position: top right;
      width: 150px;
      height: 250px;
      background-size: 300px;
      right: 15px;
      z-index: -1;
      bottom: -100px;
      transform: rotate(180deg);
  }
header h1 {
  margin: 0.5em 0 0 0;
}

.illustration img {
    width: 100%;
    height: 100%;   
}
header button {
    margin: 1em 0 0 0;
}

/* main styling */
main {
    padding: 2em 0 0 0;
    overflow: hidden;
}
.main-head {
    padding-bottom: 2em;
}
main h3 {
    font-size: 16px;
    margin: 0;
}
.main-benefit {
    text-align: left;
}
.main-benefit-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2em;
}
.main-benefit-head-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--lightOrange);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.main-benefit-head-wrapper span {
    font-weight: 700;
    background-color: var(--orange);
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 25px;
    margin-right: 1em;
}
.benefit-paragraph {
    padding-right: 1em;
}


/* testimonials styling */

.testimonial-intro {
    margin-bottom: 5em;
}
.testi-container {
    background-color: rgb(240, 240, 240, 0.5);
    margin: 2em 1em 3em 1em;
    padding: 4em 1em 1em 1em;
    position: relative;
    display: none;
}

.testimonial-img {
  width: 4.5em;
  height: 4.5em;
  position: absolute;
  top: -2em;
  right: 40%;
}
.testimonial-img img {
    width: 100%;
    height: 100%;
}

.carousel-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}
.carousel-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2em 0;
}
.dot {
    margin: 5px;
    border-radius: 50%;
    border: 1px solid var(--orange);
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.5s ease;
}
.active, .dot:hover {
    background-color: var(--orange);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}
/* article styling */
article {
    background-color: var(--orange);
    padding: 3em 2em;
    background-image: url(./images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
}
article h2 {
 color: #fff; 
 font-size: 2em;   
}
article .btn {
    color: var(--orange);
    background-color: #fff;
}

/* footer styling */

footer {
    background-color: var(--blackBlue);
    padding: 4em 1em 0 1em;
}
.subscribe {
    display: none;
}
footer a {
    color: #fff;
}
.footer-link {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.footer-link li {
    padding: 0.5em;
}
.footer-link li a:hover {
    color: var(--orange);
}
.social-site-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1em 0;
}
.social-site-links img:hover {
    filter: invert(50%) sepia(24%) 
    saturate(6692%) hue-rotate(337deg) 
    brightness(100%) contrast(103%);
}
.social-site-links img {
    width: 32px;
    height: 32px;
}
.footer-logo {
    text-align: center;
    padding: 2em 0;
    cursor: pointer;
    filter: brightness(0) invert(1);
}
.footer-logo:hover {
    filter: invert(50%) sepia(24%) 
    saturate(6692%) hue-rotate(337deg) 
    brightness(100%) contrast(103%);
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 13px;
}





@media(max-width: 849px) {
    nav {
        padding-right: 5%;
        padding-left: 5%;
    }
    .hamburger {
        display: block;
        z-index: 2;
    }
    .nav-link {
        position: absolute;
        top: 4em;
        background-color: #fff;
        flex-direction: column;
        width: 90%;
        left: 5%;
        text-align: center;
        padding: 2em 0;
        border-radius: 5px;
        z-index: 2;
        transform: translate(-120%);
        transition: 0.3s ease-in;
    }
    .nav-link.show {
        display: block;
        transform: translate(0);
    }
    .nav-link li {
        padding: 1em;
    }
    nav button {
        display: none;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(rgba(0,0,0,0.1),
        rgba(0,0,0,0.5));
        display: none;
        z-index: 1;
        transform: translate(120%);
        transition: 0.5s ease-in;
      
    }
    .overlay.show {
        display: block;
        transform: translate(0);
    }
    header,
    main,
    article {
        text-align: center;
    }
}

 
@media (min-width: 850px) {
    h1 {
        font-size: 56px;
        line-height: 64px;
    }
    h2 {
       font-size: 40px;
       line-height: 44px;
    }
    .container {
        max-width: 1140px;
        margin: 0 auto;
        overflow: hidden;
    }
    .contain::before {
            content: '';
            position: absolute;
            background: url(./images/bg-tablet-pattern.svg);
            background-repeat:  no-repeat;
            background-position: left bottom;
            background-size: 850px;
            width: 700px;
            height: 600px;
            top: -11px;
            right: 0;
            z-index: -1
      }
      main::before {
          content: "";
          position: absolute;
          background: url(./images/bg-tablet-pattern.svg);
          background-repeat: no-repeat;
          background-position: top right;
          width: 500px;
          height: 450px;
          background-size: 800px;
          left: -200px;
          z-index: -1;
          bottom: -40em;
          transform: rotate(0);
      }
    .logo {
        margin-top: 10px;
    }
    nav li a {
        font-size: 13px;
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
    }
  
    .header-para {
        order: -1;
        width: 540px;
        align-self: center
    }
    .header-para p {
        width: 350px;
    }
    .illustration {
        justify-self: right;
    }
    /* main styling */
    main {
        padding: 4em 0 0 0;
    }
    .manage {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .manage h2 {
        margin-top: 0;
    }
    .main-head {
        max-width: 445px;
    }
    .main-benefit {
        max-width: 540px;
    }
    .main-benefit-head-wrapper {
        display: grid;
        grid-template-columns: 4.3em 1fr;
        align-items: center;
        background-color: #fff;
    }
    .benefit-paragraph {
      padding-left: 4.5em;   
    }
   
     /* testimonial styling */
     .anisha {
         margin-top: 2em;
     }
    .testimonials {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
.testi-container {
    display: grid;
}
    .testimonial-intro {
        grid-row: 1;
        grid-column: 1 / -1;
    }
    .carousel-buttons {
        grid-row: 3;
        grid-column: 1 / -1;
        margin-bottom: 6em;
    }
    .carousel-dots {
        display: none;
    }

    /* article styling */
  .article-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;  
  }
  .article-wrapper h2 {
      width: 445px;
  }

  /* footer styling */
  footer {
    padding: 1em 0 0 0;
  }
.footer-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    align-items: flex-start;
}
.subscribe {
    grid-row: 1;
    grid-column: 3 / 4;
    display: flex;
    justify-self: flex-end;
    align-self: center;
    flex: 1 1 auto;
}
.footer-link {
   grid-row: 1 / span 2;
   grid-column: 2 / 3;
}
.social-site-links {
    grid-row: 2;
    grid-column: 1 / 2;
    justify-content: flex-start;
}
.footer-logo {
    grid-row: 1;
    grid-column: 1 / 2;
    justify-self: flex-start;
}
.copyright {
    grid-row: 2;
    grid-column: 3 / 4;
    text-align: right;
}

.social-site-links img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}
.subscribe input {
    padding: 0.8em;
    border-radius: 24px;
    outline: none;
    border: none;
}
.subscribe input[type="submit"] {
    background-color: var(--orange);
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 1em 1.5em;
    cursor: pointer;
}
}

@media(min-width: 1500px) {
    .contain::before {
        content: '';
        position: absolute;
        background: url(./images/bg-tablet-pattern.svg);
        background-repeat:  no-repeat;
        background-position: left bottom;
        background-size: 850px;
        width: 950px;
        height: 650px;
        top: -11px;
        right: 0;
        z-index: -1;
      }
      main::before {
        content: "";
        position: absolute;
        background: url(./images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: top right;
        width: 500px;
        height: 450px;
        background-size: 700px;
        left: -240px;
        z-index: -1;
        bottom: -38em;
    }
}   

